<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="UTF-8">
    <title>FitTrack</title> 
</head>
<body>
    <nav>
        <a href="/">FitTrack</a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/activities">Activities</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
        </ul>
    </nav>
    <main>
            <section class="hero">
                   <h1> <span>Your fitness journey,.</span></h1>
                   <p> Track Workouts, develop new skills, level up</p>
                   <a href="/signup">SignUp</a>
                   <a href="/login">Login</a>
            </section> 
    </main>
</body>
</html>

